<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" ng-controller="NavbarController"> 
    <div class="container-fluid"> 
        <div class="navbar-header"> 
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button>                     

            <a class="navbar-brand" href="#">OiServer</a> 
        </div>                 

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
            <ul class="nav navbar-nav">     
                <li class="active">
                    <a href="#" ng-click="page1()">Metodo 1</a>
                </li>                         

                <li>
                    <a href="#">Metodo 2</a>
                </li>                                                
            </ul>                     
        </div>                 
    </div>             
</nav>
<div class="jumbotron">
    <div class="container">
        <h1>Venha ser um OiServante</h1>
        <p>Há vagas</p>
    </div>
</div>
<div class="container" ng-controller="Metodo1Controller">
    <p>Para se candidatar à uma vaga da OiServer será necessário preencher alguns dados <i class="fa fa-smile-o"></i></p>
    <div class="row">
        <div class="col-lg-12">
            <form role="form" action="/" enctype="multipart/form-data" method="POST">
                <div class="form-group"> 
                    <label class="control-label" for="exampleInputEmail1">Nome completo</label>
                    <div class="input-group"> 
                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true" style="height: 20px;width: 20px;font-size: 20px"></i></span> 
                        <input type="text" class="form-control" placeholder="Fulano Da Silva Sauro"> 
                    </div>                             
                </div>                         
                <div class="form-group"> 
                    <label class="control-label" for="exampleInputPassword1">E-mail</label>
                    <div class="input-group"> 
                        <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true" style="width: 20px;height: 20px;font-size: 20px"></i></span> 
                        <input type="text" class="form-control" placeholder="fulano_sauro@gmail.com"> 
                    </div>                             
                </div>
                <div class="form-group"> 
                    <label class="control-label" for="formInput287">Vaga pretendida</label>
                    <div class="input-group"> 
                        <span class="input-group-addon"> <i class="fa fa-briefcase" aria-hidden="true" style="width: 20px;height: 20px;font-size: 20px"></i></span> 
                        <select class="form-control"> 
                            <option ng-repeat="vaga in vagas">{{vaga.titulo}}</option>                                                                        
                        </select>                                 
                    </div>
                </div>                         
                <div class="form-group"> 
                    <label class="control-label" for="exampleInputFile">Curriculo</label>                             
                    <input type="file" name="curriculum" id="curriculum"> 
                    <p class="help-block">Aceitamos pdf, doc, docx, odt.</p> 
                </div>                                                  
                <button type="submit" class="btn">Enviar
                    <br>
                </button>
            </form>                     
        </div>
    </div>
    <hr>
    <footer>
        <p>© OiServer 2017</p>
    </footer>
</div>