<div class="app-background"></div>
<div ng-controller="MainController">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation"> 
	    <div class="container-fluid"> 
	        <div class="navbar-header"> 
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
	                <span class="sr-only">Toggle navigation</span> 
	                <span class="icon-bar"></span> 
	                <span class="icon-bar"></span> 
	                <span class="icon-bar"></span> 
	            </button>                     

	            <a class="navbar-brand" href="#">OiServer</a> 
	        </div>                 

	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
	            <ul class="nav navbar-nav">     
	                <li ng-class="{ active: isActive('/metodo1')}">
	                    <a href="#!/metodo1">Metodo 1</a>
	                </li>                         

	                <li ng-class="{ active: isActive('/metodo2')}">
	                    <a href="#!/metodo2">Metodo 2</a>
	                </li>                                                
	            </ul>                     
	        </div>                 
	    </div>             
	</nav>
	<div ng-view></div>
</div>