/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.container{
	background-color: #FFF;
	border-radius: 1px;
	box-shadow: 0 0 5px 5px #FFF;
}
.app-background {
	z-index: -1000;
}

@media screen and (min-width: 768px) {
	.app-background {
		position: fixed;
		bottom: 0;
		top: 0;
		left:0;
		right: 0;
		background-image: url('/images/background.jpg');
	}
}

@media screen and (min-width: 1200px) {
	.app-background {
	    filter: blur(2px) grayscale(50%);
	}
}
/*.input-group:not(.has-success) > .input-group-addon {
	color: #ffffff;
	background-color: #000077
}
.input-group:not(.has-success) > .form-control,
.input-group:not(.has-success) > .input-group-addon {
	border-color: #000077 !important
}*/
.input-group-addon > .fa {
	width: 15px;
	height: 15px;
	font-size: 15px
}


.sample-show-hide {
  transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
  opacity: 0;
}