/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.input-group-addon{color: #ffffff;background-color: #000077}
.input-group > .form-control, .input-group > .input-group-addon {border-color: #000077 !important
}