<div class="container">
  <div class="row">
      <div class="col-lg-12">
        <h1>Venha ser um OiServante</h1>
      </div>
  </div>
  <hr/>
  <p>Temos muitas vagas abertas: <i class="fa fa-smile-o"></i></p>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" ng-repeat="vaga in vagas">
      <div class="panel-heading" role="tab" id="{{'h_'+vaga.id}}">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="{{'#c_' + vaga.id}}" onclick="return false;" aria-expanded="false" aria-controls="{{vaga.id}}">
            {{vaga.titulo}}
          </a>
        </h4>
      </div>
      <div id="{{'c_' + vaga.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{'h_'+vaga.id}}">
        <div class="panel-body">
          <div ng-bind-html="asTrusted(vaga.descricao)"></div>
          <button ng-click='openForm(vaga.titulo)' class="btn">Aplicar</button>
        </div>
        
      </div>
    </div>
  </div>
    <pre>
      {{ candidato }}
    </pre>
</div>


