<div class="container">
    <div class="row">
        <div class="col-lg-12">
        	<h1>Venha ser um OiServante</h1>
        </div>
    </div>
    <hr/>
    <p>Para se candidatar à uma vaga da OiServer será necessário preencher alguns dados <i class="fa fa-smile-o"></i></p>
    <div class="row">
        <div class="col-lg-12">
            <form role="form" name="form" ng-submit="envia()">
                <div class="form-group" ng-class="{'has-feedback': form.nome.$touched, 'has-error': form.nome.$touched && form.nome.$invalid, 'has-success': form.nome.$valid}"> 
                    <label class="control-label" for="nome">Nome completo</label>
                    <div class="input-group"> 
                        <span class="input-group-addon"><i class="fa fa-user"></i></span> 
                        <input type="text" name="nome" class="form-control" ng-model="candidato.nome" placeholder="Fulano Da Silva Sauro" minlength="3" ng-minlength="3" ng-required="true"> 
                        <span class="glyphicon form-control-feedback" ng-show="form.nome.$touched" ng-class="{'glyphicon-ok': form.nome.$valid, 'glyphicon-remove': form.nome.$invalid}"></span> 
                    </div>                             
                </div>                         
                <div class="form-group" ng-class="{'has-feedback': form.email.$touched, 'has-error': form.email.$touched && form.email.$invalid, 'has-success':  form.email.$valid}"> 
                    <label class="control-label" for="nome">E-mail</label>
                    <div class="input-group"> 
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span> 
                        <input type="email" name="email" class="form-control" ng-model="candidato.email" placeholder="fulano_sauro@gmail.com" ng-required="true">
                        <span class="glyphicon form-control-feedback" ng-show="form.email.$touched" ng-class="{'glyphicon-ok': form.email.$valid, 'glyphicon-remove': form.email.$invalid}"></span> 
                    </div>                             
                </div>
                <div class="form-group" ng-class="{'has-feedback': form.vaga.$touched, 'has-error': form.vaga.$touched && form.vaga.$invalid, 'has-success': form.vaga.$valid}"> 
                    <label class="control-label" for="vaga">Vaga pretendida</label>
                    <div class="input-group"> 
                        <span class="input-group-addon"> <i class="fa fa-briefcase"></i></span> 
                        <select class="form-control" name="vaga" ng-model="candidato.vaga" ng-required="true"> 
                            <option ng-repeat="vaga in vagas">{{vaga.titulo}}</option>                                                                        
                        </select>
                    </div>
                </div>                         
                <div class="form-group" ng-class="{'has-feedback': form.curriculum.$touched, 'has-error': form.curriculum.$touched && form.curriculum.$invalid, 'has-success':  form.curriculum.$valid}"> 
                    <label class="control-label" for="curriculum">Curriculo</label>                             
                    <input type="file" name="curriculum" ng-model="candidato.curriculum" ng-required="true" onchange="scopeFor(this).candidato.curriculum = this.files[0];scopeFor(this).$apply()" id="curriculum"> 
                    <p class="help-block">Aceitamos pdf, doc, docx, odt.</p> 
                </div>                                            
                <button type="submit" class="btn btn-primary">
                	Enviar
                </button>
            </form>                     
        </div>
    </div>
    <hr/>
    <pre>
		{{ candidato }}
	</pre>

</div>

