<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" ng-controller="NavbarController"> 
    <div class="container-fluid"> 
        <div class="navbar-header"> 
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button>                     

            <a class="navbar-brand" href="#">OiServer</a> 
        </div>                 

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
            <ul class="nav navbar-nav"> 
                <li class="active">
                    <a href="#">Metodo 1</a>
                </li>                         

                <li>
                    <a href="#">Metodo 2</a>
                </li>                                                
            </ul>                     
        </div>                 
    </div>             
</nav>